body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #be1414, #d16d6d);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    transform: scale(1.2);
    background: rgb(40, 118, 182);
    background: linear-gradient(to right, rgba(196, 43, 43, 0.616), #df5151);
    padding: 20px;
    border-radius: 10px;
}

.input-container {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    background: #d87a73;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

button:hover {
    background: #bd4444;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.filters {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 480px) {
    .container {
        width: 90%;
    }
}
